<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarText">
        <div class="container-fluid">
            <ul class="navbar-nav mr-auto oh-header-links a text-nowrap">
                <li class="nav-item">
                    <a class="nav-link" ng-click="$ctrl.page='home'">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-click="vm.page='about'">ABOUT US</a></li>
                <li class="nav-item">
                    <a class="nav-link" >PORTFOLIO</a>
                </li>
                <a class="nav-link-img" >
                    <img src="images/logo_black.png" width="150" height="85.5">
                </a>
                <li class="nav-item">
                    <a class="nav-link" ng-click="vm.page='details'">DETAILS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >WORK WITH US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<ng-outlet></ng-outlet>