<div ng-cloak="">
    <div class="row">
        <div class="col-md-4 offset-md-2">
            <h4>Contact Us</h4>
            <p>
                We would be honored to capture your wedding day! Please complete the contact form below so we can
                get to know you better.
            </p>
            <form method="POST" action="https://formspree.io/matt@oakhill.media">
                <div class="form-group">
                    <input ng-model="$ctrl.contactform.name" type="text" name="name" class="form-control input-lg"
                        placeholder="Full Name" ng-change="$ctrl.updateBody();" />
                    <hr />
                </div>
                <div class="form-group">
                    <input ng-model="$ctrl.contactform.email" type="email" name="_replyto" id="email" value=""
                        class="form-control input-lg" placeholder="Email" ng-change="$ctrl.updateBody();" />
                    <hr />
                </div>
                <div class="form-group">
                    <input ng-model="$ctrl.contactform.date" class="form-control input-lg" placeholder="Wedding Date"
                        ng-change="$ctrl.updateBody();" />
                    <hr />
                </div>
                <div class="form-group">
                    <input ng-model="$ctrl.contactform.venue" class="form-control input-lg" placeholder="Venue"
                        ng-change="$ctrl.updateBody();" />
                    <hr />
                </div>
                <div class="form-group">
                    <input ng-model="$ctrl.contactform.fiance" class="form-control input-lg"
                        placeholder="Fiance's Name (First & Last)" ng-change="$ctrl.updateBody();" />
                    <hr />
                </div>

                <div class="form-group">
                    <textarea ng-model="$ctrl.contactform.aboutCouple" class="form-control contact"
                        ng-change="$ctrl.updateBody();"
                        placeholder="Tell us about you! How you met, the proposal, what you're excited about for the wedding. Anything that can help us get to know you!"></textarea>
                    <hr />
                </div>
                <div class="form-group">
                    <textarea class="ng-hide" name="message" id="message" ng-model="$ctrl.contactform.body"></textarea>
                    <input type="hidden" name="_subject"
                        value="New Inquery! {{ $ctrl.contactform.date }} - {{ $ctrl.contactform.name }}" />
                    <div class="ohright">
                        <input class="actions oh-submit" type="submit" value="Send" ng-click="$ctrl.submit();" />
                    </div>
                </div>
                <br />
            </form>
        </div>
        <div class="col-md-4">
            <br />
            <img width="80%" class="ohcenter ohborder-img" src="./images/MattJacCamera.jpg">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <p class="ohdetails-footer-text">
                <i>Commercial Films are uniquely tailored to your company. Contact us directly at info@oakhill.media
                    for your company's distinct needs.</i>
            </p>
        </div>
    </div>
</div>