<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Oak Hill Media</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/mmr2oqf.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
    <link rel="icon" type="image/png" href="favicon.png" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://unpkg.com/@angular/router@0.2.0/angular1/angular_1_router.js"></script>

    <script src="app.js"></script>
    <script src="pages/about/about.js"></script>
    <script src="pages/details/details.js"></script>
    <script src="pages/weddings/weddings.js"></script>
    <script src="pages/commercial/commercial.js"></script>
    <script src="pages/contact/contact.js"></script>
    <script src="pages/clients/clients.js"></script>


    <script type="text/javascript">
        angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
    </script>
</head>

<body ng-app="app" ng-controller="IndexController as vm" ng-cloak="">

    <div class="row">
        <div class="col-md-12">
            <nav class="navbar-expand-lg navbar-light">
                <div class="ohcenter" id="navbarSupportedContent">
                    <div id="logo" class="row nav-logo-row">
                        <img src="images/OakHill_logo_black-green_nofont.png" width="150" height="150">
                        <h2>Oak Hill Media</h2>
                    </div>
                    <ul class="navbar-nav mr-auto oh-header-links a display-reset">
                        <li class="nav-item">
                            <a class="nav-link" ng-click="vm.page='home'">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-click="vm.page='about'">WHO WE ARE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-click="vm.page='weddings'">WEDDINGS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-click="vm.page='commercial'">COMMERCIAL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-click="vm.page='details'">DETAILS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-click="vm.page='contact'">CONTACT US</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <hr ng-if="vm.page != 'home'" class="nav-hr" />
    <br />
    <div ng-if="vm.page == 'home'">
        <div class="video-container"><iframe width="1920" height="900"
                src="https://www.youtube.com/embed/kHK7424xHR4?rel=0;&autoplay=1&mute=1" frameborder="0"
                allowfullscreen></iframe></div>
    </div>
    <div ng-if="vm.page == 'about'">
        <ohabout></ohabout>
    </div>
    <div ng-if="vm.page == 'weddings'">
        <ohweddings></ohweddings>
    </div>
    <div ng-if="vm.page == 'commercial'">
        <ohcommercial></ohcommercial>
    </div>
    <div ng-if="vm.page == 'details'">
        <ohdetails></ohdetails>
    </div>
    <div ng-if="vm.page == 'contact'">
        <ohcontact></ohcontact>
    </div>
    <div ng-if="vm.page == 'clients'">
        <ohclients></ohclients>
    </div>

    <footer class="footer">
        <a class="btn-floating btn-lg btn-fb fa" href="https://www.facebook.com/oakhillmedia/"><i
                class="fa fa-facebook"></i></a>
        <a class="btn-floating btn-lg btn-email fa" ng-click="vm.page='contact'"><i class="fa fa-envelope"></i></a>
        <a class="btn-floating btn-lg btn-git fa" href="https://www.instagram.com/oakhillmedia/"><i
                class="fa fa-instagram"></i></a>
        <a class="btn-floating btn-lg btn-tw fa"
            href="https://www.youtube.com/playlist?list=PLMkAhykp_Y_2d7ubhSMsMi3TR6OMH6dYM"><i
                class="fa fa-youtube-play"></i></a>
    </footer>

</body>


</html>