<div ng-cloak="">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h4>Contact Us</h4>
            <p>
                We would be honored to capture your wedding day! Please send us some information about you so that we
                can get to know you a little bit and we'll send our current pricing and packages guide as soon as we
                can.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-3">
            <form ng-if="!$ctrl.message || $ctrl.message == ''" ng-submit="$ctrl.submit()">
                <div class="form-group">
                    <input ng-model="$ctrl.contactform.name" class="form-control input-lg" placeholder="Full Name" />
                </div>
                <div class="form-group">
                    <input ng-model="$ctrl.contactform.email" class="form-control input-lg" placeholder="Email" />
                </div>
                <div class="form-group">
                    <input ng-model="$ctrl.contactform.date" class="form-control input-lg" placeholder="Wedding Date" />
                </div>
                <div class="form-group">
                    <input ng-model="$ctrl.contactform.venue" class="form-control input-lg" placeholder="Venue" />
                </div>
                <div class="form-group">
                    <input ng-model="$ctrl.contactform.fiance" class="form-control input-lg" placeholder="Fiance's Name (First & Last)" />
                </div>

                <div class="form-group">
                    <textarea ng-model="$ctrl.contactform.aboutCouple" class="form-control contact" placeholder="Tell us about you! How you met, the proposal, what you're excited about for the wedding. Anything that can help us get to know you!">
                </textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" />
                </div>
        </div>
        </form>
        <div ng-if="$ctrl.message && $ctrl.message != ''">
            <p>{{$ctrl.message}}</p>
        </div>
    </div>
</div>
</div>